.topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: var(--topbar-bg-col);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.topbar h1{
    font-size: 15px;
    color: rgb(120, 120, 120);
}

.topbar ul{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar ul li{
    list-style: none;
}

.topbar ul li div{
    width: 18px;
    height: 18px;
    margin: 10px;
    cursor: pointer;
}

.topbar .drag-area{
    position: absolute;
    top: 0;
    left: 0;
    right: 110px;
    height: 100%;
}


.topbar .minimize{
    background-image: var(--topbar-minimize-icon);
    background-size: contain;
}

.topbar .maximize{
    background-image: var(--topbar-maximize-icon);
    background-size: contain;
}

.topbar .close{
    background-image: var(--topbar-close-icon);
    background-size: contain;
}